@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
    color: #2a1c72;
    font-family: 'VT323';
    font-size: 32px;
}

body{
    background-image: url("/static/asset/pattern.png");
    background-color: #fff6e9;
    background-repeat: repeat-x repeat-y;
}
header{
    font-size: 120px;
    text-align: center;
    background: transparent;
}

button{
    font-weight: bold;
    background-color: #ff93d5;
    border: 3px solid #2a1c72;
    border-radius: 25px;
    cursor: pointer;
    width: 25%;
    justify-self: center;

}

button:hover{
    scale: 1.1;
    transition: ease-in 0.5s;
}
input{
    height: 50px;
    justify-self: center;
    width: 50%;
    background: white;
    border-radius: 25px;  
    border: 2px solid #2a1c72;
    padding: 10px;
}

input:focus{
  outline-color: #2a1c72;
}

.temperature{
    width: 100%;
    position: relative;
    margin-left: 130px;
    display:inline;
}
.temperature>input{
    box-sizing: border-box;
    height: 50px;
    width: 30%;
    margin: 0 0 0 0;
    background: white;
}

.temperature>input::placeholder{
    font-size: 24px;
}

.temperature>input::after{
    border-color: #2a1c72;
}

input::placeholder{
    color: #998cdd;
}

.formBG{
    position: absolute;
    background:  #2a1c72;
    height: 500px;
    width: 500px;
    border-radius: 25px;
    z-index: 1;
    justify-self: center;
    margin-right: -40px;
    margin-top: 40px;
}
.formContainer{
    padding-top: 10px;
    position: absolute;
    height: 500px;
    width: 500px;
    border-radius: 25px;
    background: #e9edff;
    border: solid 2px #2a1c72;
    display: grid;
    align-items: start;
    z-index: 2;
}

.container{
    display: flex;
    justify-content: center;
    justify-self: center;
    background: url("/static/asset/cats.png");
    background-repeat: repeat-x;
}

.icon{
    height: 128px;
    width: 128px;
    display: grid;
    margin: 0;
    justify-self: center;
    background-image: url("/static/asset/cats.png");
}


.unitSwitch {
    margin: 10px 0 25px 30px;
    position: absolute;
    width: 60px;
    height: 34px;
}

.unitSwitch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.sliderRound {
    display:flex;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:  white;
    border: solid 2px #2a1c72;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.sliderRound:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 0px;
    bottom: 0px;
    background-color: #ff93d5;
    border: solid 2px #2a1c72;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 100%;
}

input:checked + .sliderRound {
    background-color: white;
}

input:checked + .sliderRound:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.fahrenheit{
    padding-left:2px;
    padding-top: 5px;
    font-size: 24px;
    background: transparent;
}

.celsius{
    padding: 2.5px;
    padding-top: 5px;
    font-size: 24px;
    background: transparent;
}