<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <script src="/static/js/script.js" defer></script>
    <title>Mall</title>
</head>
<body>
    <header>MALL</header>
    <div class="container">
        <form class="formContainer" id="mall_form" action="http://127.0.0.1:5000" method="post" autocomplete="off">
            <div class="icon" id="icon_signage"></div>
            <input type="text" name = "first_name" id="tbx_first_name" placeholder="First Name">
            <input type="text" name = "last_name"  id="tbx_last_name" placeholder="Last Name">
            <div class="temperature">
                <input type="number" name = "body_temperature"  id="tbx_temperature" placeholder="Temperature" min = "0" max = "100" step="0.1" oninput="validateTemperature()">
                <label class="unitSwitch">
                    <input type="checkbox" id="toggle" onclick="changeTemperatureUnit()">
                    <div class="sliderRound">
                        <div class="celsius">°C</div>
                        <div class="fahrenheit">°F</div>
                    </div>
                </label>
            </div>
            <button type="submit" id="btn_submit">SUBMIT</button>
        </form>
        <div class="formBG"></div>
    </div>
</body>
</html>